@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;
  }
}

@theme {
  --font-great-vibes: 'Great Vibes';
  --spacing-header: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nice-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.nice-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  border-radius: 10px;
}

.nice-scrollbar::-webkit-scrollbar-button {
  height: 10px;
}